/* Tiles */
.insightindicatortile1, .insightindicatortile1:hover {
  background-color: #5F356B; }
 
.insightindicatortile2, .insightindicatortile2:hover {
  background-color: #183845; }
 
.insightindicatortile3, .insightindicatortile3:hover {
  background-color: #6B5F35; }
 
.insightindicatortile4, .insightindicatortile4:hover {
  background-color: #93B8AF; } 
 
.disabledIndicatorTile, .disabledIndicatorTile:hover {
background-color: #D1D1D1 !important; 
color:#696969;
}
/* Insight detail pane header */
.detailpaneheadertoppanel .detailpaneheaderrowcolumn,.detailpaneheaderbottompanel .detailpaneheaderrowcolumn, .detailpaneheadermiddlepanel .ScreenGroupPanel, .detailpaneheaderpanel .ScreenGroupPanel .headerpanelright {
background-color: #18453B;
}

.detailpaneheaderlabel{
color: #FFFFFF;
}

.detailpaneheaderrowcolumn .ScreenControlHyperlink > a, .detailpaneheaderrowcolumn .ScreenControlHyperlink > a:hover, .detailpaneheaderrowcolumn .ScreenControlHyperlink > a:focus{
color:#5E9286  !important;
}

/* Accordions */

.ui-accordion-header.ui-state-active, .ui-accordion-header.ui-state-active.ui-state-hover{
background-color:#5E9286 !important;
}

.ui-accordion > .ui-state-active a, .ui-accordion > div > h3.ui-state-active a {
color: #ffffff !important;
}

.ui-accordion-header.ui-state-default a {
color: #ffffff;
}

.ui-accordion-header.ui-state-default {
background-color: #93B8AF;
color: #ffffff;
}

.ui-accordion-header.ui-state-hover{
background-color: #5E9286 !important}

/* Toggle switches */
.toggle-on.btn {
background-color: #18453B !important;
}

.toggle-off.btn {
background-color: #93B8AF !important;
}

/* grid footer */
.ui-iggrid .ui-iggrid-footer, .ui-iggrid-pagecurrent,
.ui-iggrid .ui-iggrid-footer .ui-iggrid-firstpage, .ui-iggrid .ui-iggrid-footer .ui-iggrid-prevpage, .ui-iggrid .ui-iggrid-footer .ui-iggrid-nextpage, .ui-iggrid .ui-iggrid-footer .ui-iggrid-lastpage,
.ui-iggrid .ui-iggrid-footer .ui-iggrid-firstpage, .ui-iggrid .ui-iggrid-footer .ui-iggrid-prevpage, .ui-iggrid .ui-iggrid-footer .ui-iggrid-nextpage, .ui-iggrid .ui-iggrid-footer .ui-iggrid-lastpage {
background-color: #5E9286 !important;
}


/* grid header */
.ui-iggrid thead th, .ui-iggrid thead th.ui-state-default {
background-color: #93B8AF;
}
.ui-iggrid-headertext {
color: #0000;
}

/* grid group by select columns */
ui-iggrid-groupbyarea a, .ui-iggrid-groupbyareatext a {
color: #5E9286 !important;
}
/* Grid hyperlink */

.ui-iggrid td.ui-iggrid-selectedcell a, .ui-iggrid td a {
color: #5E9286  !important;
}

/* grid row selection */
.ui-iggrid td.ui-state-active, .ui-iggrid .ui-ig-altrecord td.ui-state-active, .ui-iggrid th.ui-iggrid-rowselector-class.ui-state-active, .ui-iggrid .ui-ig-altrecord th.ui-iggrid-rowselector-class.ui-state-active, .ui-iggrid tbody .ui-iggrid-mergedcell.ui-state-active, .ui-iggrid tbody .ui-ig-altrecord .ui-iggrid-mergedcell.ui-state-active, .ui-iggrid tbody .ui-iggrid-mergedcellstop.ui-state-active, .ui-iggrid tbody .ui-ig-altrecord .ui-iggrid-mergedcellstop.ui-state-active{
background-color: #18453B;
}

/* active grid row */
.ui-iggrid th.ui-state-active, .ui-iggrid td.ui-state-hover, .ui-iggrid .ui-ig-altrecord td.ui-state-hover, .ui-iggrid .ui-ig-altrecord td.ui-state-default.ui-state-hover, .ui-iggrid th.ui-iggrid-rowselector-class.ui-state-hover, .ui-iggrid .ui-ig-altrecord th.ui-iggrid-rowselector-class.ui-state-hover, .ui-iggrid .ui-ig-altrecord th.ui-iggrid-rowselector-class.ui-state-default.ui-state-hover, .ui-iggrid-responsive-vertical tr>td.ui-state-hover:first-child, .ui-iggrid-responsive-vertical tr.ui-ig-altrecord>td.ui-state-hover:first-child{
background-color: #5E9286 !important;
}

/* active grid row hyperlink */
.ui-iggrid td.ui-iggrid-selectedcell.ui-state-active a{
color: #ffffff !important;
}

/* grid column selection */
.ui-iggrid thead th.ui-state-hover {
background-color: #18453B !important;
}

/* grid hyperlink */
.ui-iggrid td.ui-iggrid-selectedcell a, .ui-iggrid td a {
color: #5E9286  !important;
}

/* grid dialog header */
.ui-dialog .ui-dialog-titlebar {
background-color: #18453B !important;
}

/* grid dialog hyperlink */ 
.ui-iggrid-dialog-groupby-button a, .ui-iggrid-columnchooser-item a, .ui-iggrid-sorting-dialog-unsortedcolumns-sortbybutton a{
color: #5E9286  !important;
}

/* summary tiles */
.panesummarytile, .largepanesummarytile, .monitorpanesummarytile, .largepanesummarytile {
background-color: #93B8AF;
}

.panesummarytile .TileLabel, .largepanesummarytile .TileLabel, .panesummarytile .TileData, .largepanesummarytile .TileData {
color: #000000;
}

.summaryToggle .visiblepane,.groupByToggle.visiblepane {
color: #93B8AF !important;
}

/* Detail screen sidebar */
#sidebar-wrapper {
background-color: #5E9286;
}

.menuWithSideBar {
color: #5E9286;
}

/* prompt dialog */
.modal-header {
background-color: #18453B;
}
.modal-footer .btn:hover {
background-color: #5E9286  !important;
}

/* detail/transaction menu label */
.crudheaderlabel, .transactionscreensectionlabel, .transactionheaderlabel {
color: #5E9286;
}

/* dropdowns */
.ui-igedit-dropdown .ui-igedit-listitem.ui-state-hover, .ui-igedit-dropdown .ui-igedit-listitem.ui-state-active, .ui-igedit-list .ui-igedit-listitem.ui-state-hover, .ui-igedit-list .ui-igedit-listitem.ui-state-active, .ui-iggrid-filterddlist li.ui-state-hover, .ui-iggrid-filterddlist li.ui-state-active, .ui-iggrid-filterddlistitem.ui-state-hover a, .ui-iggrid-filterddlistitem.ui-state-active a, .ui-iggrid-featurechooser-list li.ui-state-hover, .ui-iggrid-featurechooser-list li.ui-state-active, .ui-iggrid-featurechooser-list.ui-state-hover a, .ui-iggrid-featurechooser-list.ui-state-active a, .ui-iggrid-hiding-dropdown-list li.ui-state-hover, .ui-iggrid-hiding-dropdown-list li.ui-state-active, .ui-iggrid-hiding-dropdown-list.ui-state-hover a, .ui-iggrid-hiding-dropdown-list.ui-state-active a, .ui-iggrid-columnmoving-dropdown-list li.ui-state-hover, .ui-iggrid-columnmoving-dropdown-list li.ui-state-active, .ui-iggrid-columnmoving-dropdown-list.ui-state-hover a, .ui-iggrid-columnmoving-dropdown-list.ui-state-active a, .ui-igcombo-listitemholder li.ui-state-hover, .ui-igcombo-listitemholder li.ui-state-active, .ui-igcombo-listitemholder li.ui-state-hover a, .ui-igcombo-listitemholder li.ui-state-active a {
background-color: #5E9286 !important;
}

.ui-state-hover,.ui-widget-content .ui-state-hover,.ui-widget-header .ui-state-hover{background-color: #5E9286 !important;}
.ui-state-focus,.ui-widget-content .ui-state-focus,.ui-widget-header .ui-state-focus{background-color: #5E9286 !important;} 
.ui-igedit.ui-state-focus .ui-igedit-button-common,.ui-igedit.ui-state-active .ui-igedit-button-common,.ui-igcombo.ui-state-focus .ui-igcombo-button,.ui-igcombo.ui-state-active .ui-igcombo-button{background-color: #5E9286 !important;} 

/* datepicker and datetimeeditor */
.ui-datepicker .ui-datepicker-header {
background-color: #5E9286 !important;
}

.ui-datepicker .ui-datepicker-current-day .ui-state-default {
color: #5E9286 !important;
}

/* navbar icons */
.navsearch .visiblepane .glyphicon, .navsearch .visiblepane .fa, .navsearch .visiblepane .packcomponent .fa_pointer, .packcomponent .navsearch .visiblepane .fa_pointer, .navsearch .visiblepane .shippingQCCount .fa_pointer, .shippingQCCount .navsearch .visiblepane .fa_pointer, .navsearch .visiblepane .receiptWorkbench .fa_pointer, .receiptWorkbench .navsearch .visiblepane .fa_pointer,
.navdetailpane .visiblepane .glyphicon, .navdetailpane .visiblepane .fa, .navdetailpane .visiblepane .packcomponent .fa_pointer, .packcomponent .navdetailpane .visiblepane .fa_pointer, .navdetailpane .visiblepane .shippingQCCount .fa_pointer, .shippingQCCount .navdetailpane .visiblepane .fa_pointer, .navdetailpane .visiblepane .receiptWorkbench .fa_pointer, .receiptWorkbench .navdetailpane .visiblepane .fa_pointer {
color: #5E9286;
}

.visiblepane .badge { background-color: #5E9286;}

/* action buttons */

.glyphicon-circle-arrow-right:before, .packcomponent .faiconwithTextbelow, .packcomponent .packButtons, .glyphicon-plus-sign:before {color: #5E9286 !important}
.shippingQCCount .qcbutton, .shippingQCCount .faiconwithTextbelow, .shippingQCCount .faiconEnabled, .receiptWorkbench .faiconEnabled {color: #5E9286 !important}

/* chart columns */
.monitorColumnColor0{
color: #18453B;
}
.monitorColumnColor1{
color: #5E9286;
}
