/* chart columns */
.monitorColumnColor0{
color: #18453B;
}
.monitorColumnColor1{
color: #5E9286;
}

/* x/y axis color */
.monitorLineColor{
    color:#18453B;
}


.monitorTextFont{   
   font-family:Roboto !important;
   color:#18453B;
}

.monitorLabelText{
    font-size:2em;
    font-weight:bold;
}

.monitorColumnValueText{
     font-size:2em;
    font-weight:400;

}
.monitorTitleText{
    font-size:4em;
    font-weight:400;
   font-style:italic;

}
