@namespace MadCap url(http://www.madcapsoftware.com/Schemas/MadCap.xsd);
/*<meta />*/

body
{
	font-family: Arial;
	background-color: #ffffff;
}

h1
{
	margin-bottom: 14pt;
	text-decoration: none;
	font-size: 18pt;
	font-weight: bold;
	font-style: normal;
	font-family: Arial;
	color: #324565;
	border-left-style: none;
	border-right-style: none;
	border-top-style: solid;
	border-top-width: 0.5px;
	border-top-color: #324565;
	border-bottom-style: double;
	border-bottom-width: 4px;
	border-bottom-color: #324565;
	padding-top: 4pt;
	padding-bottom: 4pt;
}

li.mc-H1
{
	font-family: Arial;
	font-weight: bold;
	font-size: 14.0pt;
	text-transform: none;
	color: #000080;
	text-decoration: none;
}

h2
{
	font-family: Arial;
	font-variant: normal;
	font-weight: bold;
	margin-top: 0;
	margin-bottom: 0;
	font-size: 9pt;
	color: #a9a9a9;
}

li.mc-H2
{
	font-family: Arial;
	font-variant: normal;
	font-weight: bold;
	font-size: 12.0pt;
	text-transform: lowercase;
	color: #808080;
}

p
{
	font-family: Arial;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	margin-top: 0.0pt;
	margin-bottom: 0.0pt;
	font-size: 10pt;
}

li
{
	font-family: Arial;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-size: 10.0pt;
}

a:link
{
	color: #000080;
}

a:visited
{
	color: #000080;
}

a:active
{
	color: #000080;
}

a.expandspot
{
	cursor: hand;
	color: #000080;
	font-weight: bold;
	font-style: italic;
}

span.expandtext
{
	color: #000080;
	text-transform: none;
	font-weight: normal;
	font-style: normal;
}

a.dropspot
{
	cursor: hand;
	letter-spacing: normal;
	word-spacing: normal;
	color: #000080;
	font-style: italic;
	font-family: Arial;
}

a.glossterm
{
	cursor: hand;
	color: #800000;
	font-style: normal;
}

span.glosstext
{
	color: #0000ff;
	font-weight: normal;
	font-style: italic;
}

li.Heading11
{
	font-size: 11pt;
	font-weight: bold;
	font-style: italic;
	color: #808080;
}

li.TopicSubtitle
{
	font-size: 8pt;
	color: #0000ff;
	font-style: italic;
	font-weight: normal;
}

li.mc-H1-CHeading12
{
	font-size: 14pt;
	font-weight: bold;
	font-style: normal;
	text-decoration: none;
}

MadCap|expandingHead.expandspot
{
	cursor: hand;
	color: #000080;
	font-weight: bold;
	font-style: italic;
}

MadCap|dropDownHotspot.dropspot
{
	cursor: hand;
	letter-spacing: normal;
	word-spacing: normal;
	color: #000080;
	font-style: italic;
	font-family: Arial;
}

MadCap|expandingBody.expandtext
{
	color: #000080;
	text-transform: none;
	font-weight: normal;
	font-style: normal;
}

MadCap|glossaryTerm.glossterm
{
	cursor: hand;
	color: #800000;
	font-style: normal;
}

MadCap|expandingBody.glossterm
{
	color: #0000ff;
	font-weight: normal;
	font-style: italic;
}

span.span_1
{
	font-weight: bold;
}

li.li_1
{
	text-align: left;
}

ol.ol_1
{
	list-style: disc;
	list-style-type: decimal;
}

ol.ol_2
{
	list-style: decimal;
	list-style-type: decimal;
}

span.span_2
{
	font-style: italic;
}

hr.hr_1
{
	float: aligncenter;
}

ul.ul_1
{
	list-style: disc;
}

td.td_1
{
	border-left-width: 1px;
	border-left-color: #000000;
	border-left-style: Solid;
	border-top-style: Solid;
	border-top-color: #000000;
	border-top-width: 1px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: Solid;
	border-bottom-style: Solid;
	border-bottom-color: #000000;
	border-bottom-width: 1px;
	padding-right: 10px;
	padding-left: 10px;
}

td.td_2
{
	border-left-width: 1px;
	border-left-color: #000000;
	border-left-style: Solid;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: Solid;
	border-bottom-style: Solid;
	border-bottom-color: #000000;
	border-bottom-width: 1px;
	padding-right: 10px;
	padding-left: 10px;
}

table.table_1
{
	border-spacing: 0px;
	border-spacing: 0px;
}

span.span_3
{
	font-weight: normal;
}

span.span_4
{
	font-weight: bold;
	color: #000080;
	text-decoration: underline;
}

span.span_5
{
	margin-bottom: 0;
}

span.span_6
{
	text-decoration: underline;
}

h5
{
	margin-top: 0.5em;
	margin-bottom: 0.00em;
	font-weight: bold;
	font-style: normal;
	font-size: 10pt;
	color: #324565;
}

h4
{
	margin-top: 0;
	margin-bottom: 0;
	font-weight: bold;
	font-style: normal;
	font-size: 12pt;
	color: #324565;
}

h3
{
	font-weight: normal;
	font-style: normal;
	margin-top: -0.17pt;
	margin-bottom: -0.17pt;
	font-size: 9pt;
	color: #000000;
}

